* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(0deg, rgba(218,219,213,1) 80%, rgba(0,151,136,1) 80%);
}

ul {
  list-style: none;
}

input {
  outline: none;
}

i:hover {
  cursor: pointer;
}

.bg-white {
  background-color: #fff;
}

.flex {
  display: flex;
}

.header-profile-info {
 height: 90px;
 width: 100%;
 justify-content: space-between;
 padding: 20px;
 background-color: #eaeaea;
}

.box-profile {
  width: 60%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.image-profile {
  height: 60px;
  width: 60px;
  margin-right: 5px;
}

.inner-img-profile {
  width: 100%;
  border-radius: 50%;
}

.box-icons {
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.inner-icons-profile {
 color: #6c7279;
 font-size: 20px;
}

.sent, .received {
  float: right;
  clear: both;
  top: 0;
  margin: 10px 10px 0 10px;
  background: #dcf8c6;
  color: #000;
  font-size: 14px;
  line-height: normal;
  box-shadow: 0px 2px 2px -1px #a3a3a3;
  text-align: left;
  max-width: 300px;
  height: max-content;
  border-radius: 10px;
  padding: 8px;
  word-break: break-all;
  cursor: pointer;
}

.received {
  float: left;
  clear: both;
  background: #fff;
}
/* /classi utility */

.container {
  width: 80%;
  height: calc(100vh - 40px);
  max-height: 95%;
  margin: 20px auto;
  min-width: 950px;
}

.container nav.sidebar {
  width: 35%;
  height: 100%;
  border-right: solid #000 2px;
}

/* sidebar top */
section.sidebar-top .notification {
  height: 90px;
  background-color: #8edafc;
  padding: 20px;
  align-items: center;
}

.notification .bell {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}

.notification .bell i {
  font-size: 20px;
  color: #8edafc;
}

.notification .active-notification a {
 color:#558ea1;
}

section.sidebar-top .search-contact {
  padding: 10px;
  background-color: #fafafa;
}

.search-contact .input-box {
  padding: 20px;
  width: 100%;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.search-contact .input-box input {
  border: none;
  width: 90%;
}
/* /sidebar top */

/* sidebar bottom */
nav.sidebar section.sidebar-bottom {
 height: calc(100% - 245px);
 overflow-y: auto;
 min-height: 50px;
}

section.sidebar-bottom .contacts-list .contact {
  padding: 5px 15px;
  height: 70px;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #eaeaea;
}

.contacts-list .contact.active {
  background-color: #eaeaea;
}

.contacts-list .contact:hover {
  cursor: pointer;
  background-color: #eaeaea;
}
/* /sidebar bottom */

.container .main-box {
  width: calc(100% - 35%);
  background-image: url('../images/mine.jpg');
  height: 100%;
}

.main-box section.header-profile-info .box-icons {
  width: 15%;
}

/* sezione messaggi chat */
.container section.main-box-text {
  height: calc(100% - 180px);
  width: 100%;
  overflow-y: auto;
  min-height: 115px;
}

section.main-box-text .messages-container {
  width: 100%;
  height: 100%;
}

section.main-box-text .messages-container .options-button {
  display: none;
  color: #6c7279;
}

section.main-box-text .messages-container li {
  position: relative;
}

section.main-box-text .messages-container li:hover .options-button{
  display: inline-block;
}

.messages-container .options-container {
  width: 120px;
  padding: 10px;
  position: absolute;
  transform: translate(0 , -50%);
  top: 170%;
  left: 30%;
  z-index: 2;
  font-size: 12px;
}

.messages-container .options-container li {
  margin-top: 10px;
}

/* /sezione messaggi chat */

/* sezione input messaggio */
.container section.main-box-footer {
  height: 90px;
  background-color: #eaeaea;
  padding: 20px;
}

section.main-box-footer .input-bar {
  justify-content: space-around;
  align-items: center;
}

section.main-box-footer .input-bar i {
  font-size: 30px;
  color: #6c7279;
}

section.main-box-footer .input-bar input {
  width: 80%;
  height: 50px;
  padding-left: 5px;
}
/* /sezione input messaggio */
