* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(0deg, rgba(218,219,213,1) 80%, rgba(0,151,136,1) 80%);
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.header-profile-info {
 height: 90px;
 width: 100%;
 justify-content: space-between;
 padding: 20px;
 background-color: #eaeaea;
}

.box-profile-name-image {
  width: 50%;
  justify-content: flex-start;
  align-items: center;
}

.image-profile {
  height: 60px;
  width: 60px;
  margin-right: 5px;
}

.inner-img-profile {
  width: 100%;
  border-radius: 50%;
}

.box-icons-profile {
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.inner-icons-profile{
 color: grey;
 font-size: 20px;
}

.massage-sent {
  position: relative;
    background: #dcf8c6;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 17px;
    line-height: 100px;
    box-shadow: 0px 2px 2px -1px #A3A3A3;
    text-align: center;
    width: 300px;
    height: 100px;
    border-radius: 17px;
    padding: 2px;
}

.massage-sent:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 27px 14px 0 0;
    border-color: #dcf8c6 transparent transparent transparent;
    top: 20%;
    right: -14px;
    margin-top: -13.5px;
}

.message-received {
  position: relative;
  background: #ffffff;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 17px;
  line-height: 100px;
  box-shadow: 0px 2px 2px -1px #A3A3A3;
  text-align: center;
  width: 300px;
  height: 100px;
  border-radius: 17px;
  padding: 2px;
}

.message-received:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 14px 27px 0;
    border-color: transparent #ffffff transparent transparent;
    top: 16%;
    left: -14px;
    margin-top: -13.5px;
}
/* /classi utility */

.container {
  width: 80%;
  height: calc(100vh - 40px);
  max-width: 95%;
  margin: 20px auto;
  min-width: 950px;
}

.container nav.sidebar {
  width: 35%;
  height: 100%;
  border-right: solid black 2px;
}

/* sidebar top */
section.sidebar-top .notification {
  height: 90px;
  background-color: #8edafc;
  padding: 20px;
  align-items: center;
}

section.sidebar-top .notification .active-notification li:nth-child(2) {
  font-size: 13px;
  text-decoration: underline;
  color: #558EA1;
}

.notification .bell {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.notification .bell i {
  font-size: 20px;
  color: #8edafc;
}

section.sidebar-top .search-contact {
  padding: 10px;
  background-color: #fafafa;
}

section.sidebar-top .search-contact .input-box {
  padding: 20px;
  width: 100%;
  height: 45px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

section.sidebar-top .search-contact .input-box input {
  border: none;
  width: 90%;
}
/* /sidebar top */

/* sidebar bottom */
nav.sidebar section.sidebar-bottom {
 background-color: #fff;
 height: calc(100% - 245px);
 overflow-y: auto;
 min-height: 50px;
}

section.sidebar-bottom .contacts-list li {
  padding: 5px 15px;
  height: 70px;
  justify-content: flex-start;
  align-items: flex-start;
}

/* /sidebar bottom */

.container .main-box {
  width: calc(100% - 35%);
  background-image: url('../images/mine.jpg');
  height: 100%;
}

/* sezione profilo contatto chat */
.main-box .box-icons-profile {
  width: 15%;
}

/* /sezione profilo contatto chat */

/* sezione messaggi chat */
.container section.main-box-text {
  height: calc(100% - 180px);
  overflow-y: auto;
  min-height: 50px;
}
/* /sezione messaggi chat */

/* sezione input messaggio */
.container section.main-box-footer {
  height: 90px;
  background-color: #f3eeea;
  padding: 20px;
}

section.main-box-footer .input-bar {
  justify-content: space-around;
  align-items: center;
}

section.main-box-footer .input-bar i {
  font-size: 30px;
  color: #6C7279;
}

section.main-box-footer .input-bar input {
  width: 80%;
  height: 50px;
}
/* /sezione input messaggio */
