* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(0deg, rgba(218,219,213,1) 85%, rgba(0,151,136,1) 85%);
}

.flex {
  display: flex;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.fl {
  float: left;
}

ul {
  list-style: none;
}
/* /classi utility */

.container {
  width: 80%;
  height: calc(100vh - 40px);
  max-width: 95%;
  margin: 20px auto;
  min-width: 950px;
}

.container nav.sidebar {
  width: 35%;
  height: calc(100vh - 40px);
  border-right: solid black 2px;
}


nav.sidebar section.sidebar-top .user-profile {
 height: 90px;
 width: 100%;
 justify-content: space-between;
 padding: 20px;
 background-color: #eaeaea;
}

section.sidebar-top .user-profile .user-profile-name {
  width: 50%;
  justify-content: flex-start;
  align-items: center;
}

section.sidebar-top .user-profile .user-profile-name .image {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.user-profile .user-profile-name .image img {
  width: 100%;
  border-radius: 50%;
}

.user-profile .icons-profile {
  width: 20%;
  justify-content: space-around;
  align-items: center;
}

.user-profile .icons-profile i {
 color: grey;
 font-size: 20px;
}

section.sidebar-top .notification {
  height: 90px;
  background-color: #8edafc;
  padding: 20px;
}

.notification .bell {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.notification .bell i {
  font-size: 20px;
  color: #8edafc;
}

section.sidebar-top .search-contact {
  padding: 10px;
  background-color: #fafafa;
}

section.sidebar-top .search-contact .input-box {
  padding: 20px;
  width: 100%;
  height: 45px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

section.sidebar-top .search-contact .input-box input {
  border: none;
  width: 90%;
}

nav.sidebar section.sidebar-bottom {
 background-color: #fff;
 height: calc(100% - 245px);
}

.container .main-box {
  width: calc(100% - 35%);
  background-image: url('../images/mine.jpg');
  height: calc(100vh - 40px);
}

.main-box section.contact-profile {
 height: 90px;
 width: 100%;
 justify-content: space-between;
 padding: 20px;
 background-color: #eaeaea;
}

.main-box section.contact-profile .contact-profile-name {
  width: 50%;
  justify-content: flex-start;
  align-items: center;
}

section.contact-profile .contact-profile-name .image-contact {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.contact-profile-name .image-contact img {
  width: 100%;
  border-radius: 50%;
}

section.contact-profile .icons-contact {
  width: 15%;
  justify-content: space-around;
  align-items: center;
}

section.contact-profile .icons-contact i {
 color: grey;
 font-size: 20px;
}


.container section.main-box-text {
  height: calc(100% - 180px);
}

.container section.main-box-footer {
  height: 90px;
  background-color: #f3eeea;
  padding: 20px;
}

section.main-box-footer .input-bar {
  justify-content: space-around;
  align-items: center;
}

section.main-box-footer .input-bar input {
  width: 80%;
  height: 50px;
}
